<launch>

  <!--rosparam command="load" file="$(find r_mini_moveit_config)/config/_joint_names.yaml"/-->

  <!--include file="$(find r_mini_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include-->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node>
 
  <!--node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node-->

  <include file="$(find r_mini_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>
  
  <arg name="rviz_config" default="true"/>
  <arg name="rviz_setting" default="moveit"/> 
  <include file="$(find r_mini_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find r_mini_moveit_config)/rviz/$(arg rviz_setting).rviz"/>
  </include>

</launch>
